# Ignore Python cache files
__pycache__
*.pyc

# Ignore git files
.git
.gitignore

# ignore
.env

# Ignore data or logs folders
logs/

# Ignore IDE config folders
.vscode/
.idea/

# custom folder
venv/
notebook/